<h1>Games</h1>

<ul>
  <% @games.each do |game| %>
    <li><%= game.name %> - <em><%= game.category %></em><br> <%= game.description %></li>
    <% if policy(game).edit? %>
      <%= link_to "Update", edit_game_path(game.id) %>
    <% end %>
    <% if policy(game).destroy? %>
      <%= link_to  "Delete", game_path(game.id), method: :delete %>
    <% end %>
  <% end %>
</ul>
<% if policy(Game).create? %>
  <%= link_to  "New Game", new_game_path %>
<% end %>
