<h1>Games</h1>

<br>
<br>

<div class="row">
  <div class="column">
    <% @games.each do |game| %>
      <div class="card-trip">
        <img src="https://images.pexels.com/photos/776654/pexels-photo-776654.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to game.name, game_path(game) %> - <em><%= game.category %></em></h2>
            <p><%= game.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= game.price %>$</h2>
          <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="container-new-game">
  <% if policy(Game).create? %>
    <div class="hbtn hb-fill-on">
        <%= link_to "New Game", new_game_path%>
    </div>
  <% end %>
</div>





