<br>
<br>
<br>
<h1>Rent your own game!</h1>

<br>
<br>
<%= simple_form_for(@game) do |f| %>

<div class="container-create-game">
  <div class="container-login">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category, collection: %W[Memory Card Knowledge Dices Logic Board Investigation]  %>
    <%= f.input :price %>

    <%= f.input :photo, as: :file %>
  </div>
<br>
  <div class= "btn-create-game">
    <div class="hbtn hb-fill-on">
     <%= f.button :submit, "Create Game"%>
    </div>
  </div>
  <% end %>
</div>
<br>
<br>
<div class="show-back">
  <%= link_to "Back to games list", games_path %>
</div>
