<h1><%= @game.name %></h1>

<p> Description: <br> <%= @game.description %> </p>

<p>Price: <%= @game.price %>€</p>

<p>Category: <%= @game.category %></p>

<h2>Reviews:</h2>
<ul>
  <% @game.reservations.each do |reservation|
    reservation.reviews.each do |review| %>
      <li><%= review.content %> - Rating: <%= review.rating %> </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Back to games list", games_path %>
