<h1><%= @game.name %></h1>

<p> Description: <br> <%= @game.description %> </p>

<p>Price: <%= @game.price %>€</p>

<p>Category: <%= @game.category %></p>

<%# <h2>Reviews:</h2>
<ul>
  <% @game.reviews.each do |review| %>
    <%# <li><%= review.content </li> %>
  <%# <% end %>
<%# </ul> %>
