<h1><%= @game.name %></h1>

<% if @game.photo.attached? %>
<%= cl_image_tag @game.photo.key, height: 500, width: 500, crop: :fill %>
<% else %>
<%= "Add a photo!" %>
<% end %>

<p> Description: <br> <%= @game.description %> </p>

<p>Price: <%= @game.price %>€</p>

<p>Category: <%= @game.category %></p>

<ul>
  <% @game.reservations.each do |reservation| %>
    <% unless reservation.reviews.empty? %>
      <% reservation.reviews.each do |review| %>
        <li>Review: <%= review.content %> - Rating: <%= review.rating %>/5 </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to "Reserve this game", new_reservation_path %>

<%= link_to "Back to games list", games_path %>
