<h1><%= @game.name %></h1>

<% if @game.photos.attached? %>

<div class="row">
  <div class="col-md-4">
    <div id="carouselGame" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @game.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <% if index == 0 %> active <% end %>">
          <img src="<%= cl_image_path photo.key, height: 400, width: 400, crop: :fill%>" class="d-block w-100" alt="...">
        </div>
      <% end %>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>
  </div>
</div>
<% else %>
<%= "Add a photo!" %>
<% end %>

<p> Description: <br> <%= @game.description %> </p>

<p>Price: <%= @game.price %>€</p>

<p>Category: <%= @game.category %></p>

<p>Owner: <%= link_to @game.user.first_name + " " + @game.user.last_name, user_path(@game.user) %></p>

<ul>
  <% @game.reservations.each do |reservation| %>
    <% unless reservation.reviews.empty? %>
      <% reservation.reviews.each do |review| %>
        <li>Review: <%= review.content %> - Rating: <%= review.rating %>/5 </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if current_user != @game.user %>
  <%= link_to "Reserve this game", new_reservation_path %>
<% end %>

<br>
<%= link_to "Back to games list", games_path %>
